# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.backup

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Angular
.angular/
.angular-config.json

# System Files
Thumbs.db
desktop.ini
*.lnk
*.tmp
*.log
*.log1
*.log2
*.ini
*.dat
*.blf
*.regtrans-ms

# Personal files
*.docx
*.pdf
*.xlsx
*.jpg
*.jpeg
*.png
*.gif
*.psd
*.ai
*.zip
*.rar
*.exe
*.ppt
*.pptx

# Directories
/AppData/
/Cookies/
/Local Settings/
/Menu Démarrer/
/Mes documents/
/Modèles/
/Recent/
/SendTo/
/Voisinage d'impression/
/Voisinage réseau/
/3D Objects/
/Contacts/
/Documents/
/Downloads/
/Favorites/
/Links/
/Music/
/Pictures/
/Saved Games/
/Searches/
/Videos/
/OneDrive/
